body{
  text-align: center;
  background-color: #ede682;
  margin: 0;
  /*background: linear-gradient(#7fdbda, #ade498, #ede682, #febf63  );
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; */
}
h1{
  font-family: 'Changa One', cursive;
  font-weight: lighter;
  font-size: 8rem;
  margin: 20px 0;

}
h2{
  font-family: 'Corben', cursive;
  font-weight: normal;
}
h3{
  font-family: 'Corben', cursive;
  font-weight: normal;

}
p{  font-family: 'Corben', cursive;

}
.intro{
  display: flex;
  flex-basis: 30%;
  align-items: center;
  flex-flow: column wrap;
  flex-shrink:1;
  justify-content: center;
  background-color: #7fdbda;
}

.Bio{
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #ade498;
  padding: 2%;

}

.photos{
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
.members{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  flex-wrap: wrap;
  background-color: #ede682;
  padding: 2%;


}
